@font-face {
  font-family: 'Uthmani';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UthmanicHafs1-Ver09.eot);
  src: url(fonts/UthmanicHafs1-Ver09.eot?#iefix) format('embedded-opentype'),
       url(fonts/UthmanicHafs1-Ver09.woff2) format('woff2'),
       url(fonts/UthmanicHafs1-Ver09.woff) format('woff'),
       url(fonts/UthmanicHafs1-Ver09.ttf) format('truetype');
}

body
{
	direction:rtl;
	text-align:right;
	font-family:'Uthmani';
}

.pageText
{
	font-size:16pt;
	font-weight:bold;
	text-align: justify;
	padding:0;
	margin:0;
}

.ayaNum
{
	font-size:9pt;
	font-family:Tahoma;
	background-image:url('../images/aya_no.svg');
	display: inline-block;
	width:45px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin: 0 3px;
}

.pageNum
{
	color:#4C4C4C;
	background-color:#F9F9F9;
	line-height:20px;
	border-radius:5px;
	padding:0;
	margin:0;
	height:22px;
}

.pageNum span
{
	border-radius:100%;
	display: inline-block;
	min-width: 30px; 
	height:30px;
	text-align: center;
	line-height:30px;
	top:-4px;
	position: relative;
	font-family:Tahoma;
	font-size:8px;
	font-weight:bold;
	background-image:url('../images/page_num.svg');
}